body {
    background-color: #3333ff;
    margin: 5px;
    border: 10px;
    color: #eee;
}
footer {
    float: right;
 align-content: center;
 background-color: aqua;   
 margin: 5px;
 border: 10px;
}
h1 {
    font-size: 35px;
}
h2 {background-color:#3333ff;
    padding: 20px 0;
  margin: 10;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: rgb(207, 18, 18);
    
    border: 10px;
}
